img {
    width: 200px;
    height: 300px;
}
#win, #winCount, #loss, #lossCount, #score2, #yourScore, #h2, #targetNumber {
    float: left;
    margin: 0;
}
#container, #startButton, #Instructions {
    width: 980px;
    margin: 0 auto;
    border: 10px;
    background-color: white;
 /*   background-image: url("../images/typhoon.png");*/

}
.gifpics {
    float: left;
}
#pics {
    width: 980px;
    margin: 0 auto;
    border: 4px;
    float: none;
/*     display: block;     */
}
#container {
    display: none;
}



h1 {
background-color: blue;

margin: 0;
text-align: center;
color: white;
padding-top: 20px;
padding-bottom: 20px;
font-size: 28px;

}

body {
/*  background-image: url('../images/quab.png'); */

 margin: 0;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 18px;
line-height: 150%;
}